<% if (err.length > 0) { %>
    <div class="alert alert-danger">
        <ul>
            <% err.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </div>
<% } %>