<%- include('header') -%>
<%- include('menu') -%>
<article class="col-8 offset-2">
    <h1>Awesome home page!</h1>
    <h2>Fancy design!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at dolor semper, rutrum est ut, tincidunt nisi.
        Nulla
        facilisi. Aliquam tristique metus at consectetur suscipit. Maecenas quis dui ac diam laoreet egestas. Cras
        commodo
        varius velit, ut pulvinar orci vehicula a. In quis mattis arcu. Vestibulum ultrices pretium magna, in interdum
        ex.
        Fusce et turpis in nunc consectetur varius nec id quam. Pellentesque a libero vitae ex ornare consectetur non
        vitae
        justo. Sed et finibus lorem.
    </p>
    <p>
        Pellentesque luctus metus urna, ut convallis dolor ultrices in. Nullam fringilla dolor nec sem fermentum, vel
        volutpat arcu rhoncus. Phasellus vitae varius neque, quis aliquam leo. Nunc justo risus, vestibulum at porta ut,
        posuere eget ligula. Nunc accumsan varius quam quis dictum. In molestie elit non sem molestie, eu tristique
        neque
        feugiat. Proin purus nisi, eleifend sed dignissim sit amet, sodales sed neque. Donec pellentesque lorem nec est
        euismod maximus.
    </p>
    <p>
        Nullam vel laoreet lorem. Ut facilisis placerat sem id tincidunt. Donec et convallis augue, ut blandit ante.
        Phasellus dolor leo, mollis sit amet aliquam sit amet, scelerisque nec velit. Sed tincidunt elit non risus
        condimentum pretium a sed odio. Cras at diam faucibus, sagittis arcu et, venenatis enim. Maecenas porta mi et
        mauris
        mollis, at bibendum est consectetur. In egestas sapien ut tortor rutrum pretium. Interdum et malesuada fames ac
        ante
        ipsum primis in faucibus. Morbi auctor lectus ut lectus venenatis suscipit. Fusce dictum odio id felis gravida,
        eget
        rhoncus nulla consectetur. Vivamus vehicula blandit gravida. Quisque at euismod ligula.
    </p>
    <p>
        Etiam libero nulla, luctus quis nulla egestas, accumsan blandit lorem. Pellentesque dignissim elit velit, a
        lobortis
        dolor gravida eu. Morbi eleifend pretium leo. Mauris in condimentum massa. Quisque id viverra metus, non
        sollicitudin enim. Nullam commodo finibus diam eu convallis. Nam ultrices pellentesque imperdiet. Suspendisse
        potenti. In ligula quam, efficitur vel luctus ac, rutrum ut velit. Donec interdum eros turpis, quis placerat
        enim
        semper et. Sed tempor iaculis arcu quis porta. Praesent at libero erat.
    </p>
    <p>
        Morbi facilisis, quam eu consectetur tristique, risus nibh aliquet orci, in semper velit ipsum sit amet ipsum.
        Ut
        elit magna, hendrerit ac massa et, consectetur hendrerit dui. Donec ut magna id odio viverra faucibus. Ut id
        tempus
        arcu. Mauris posuere scelerisque odio, at egestas nulla sollicitudin non. Maecenas non finibus velit, at congue
        dolor. Cras aliquet eleifend lacus, sed hendrerit metus tempor eu. Donec tincidunt metus tempor ipsum
        sollicitudin,
        at suscipit nisl dignissim. Integer a ullamcorper ligula. Sed pharetra sapien sapien, eget blandit nulla
        sagittis
        at. Vestibulum facilisis in eros eu aliquam. Nulla eu metus in arcu iaculis varius. Vivamus faucibus lorem vel
        arcu
        sodales, vel maximus eros efficitur. Mauris congue elementum elementum. Donec varius nisl sed augue rhoncus
        tincidunt. Proin tristique magna a neque pharetra, eu lacinia erat auctor.
    </p>
</article>
<footer>
    <h1 align="right">Advertising space!</h1>
</footer>
<%- include('footer') -%>