<%- include('header') -%>
<%- include('menu') -%>
<table class="table col-8 offset-2">
    <caption style="caption-side: top; width: auto; background-color: lightgray; text-align: center">
        <h2><strong>Spells</strong></h2>
    </caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Details</th>
        <th scope="col">Inventor</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Fire Ball</td>
        <td>Flaming ball</td>
        <td>Medivh</td>
        <th scope="col">
            <a class="btn btn-light" href="/spells/spell/10"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </th>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Gucci</td>
        <td>Gang</td>
        <td>Lil Pump</td>
        <th scope="col">
            <a class="btn btn-light" href="/spells/spell/20"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </th>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Lie Detect</td>
        <td>Detects liars.</td>
        <td>Mentalist</td>
        <th scope="col">
            <a class="btn btn-light" href="/spells/spell/30"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </th>
    </tr>
    </tbody>
</table>
<%- include('footer') -%>