<%- include('header') -%>
<%- include('menu') -%>
<div class="row justify-content-center">
    <form  class="col-6">
        <caption>
            <h2><strong>Add/Modify Spell</strong></h2>
        </caption>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" required class="form-control" id="nameInput">
        </div>
        <div class="form-group">
            <label for="detailsInput">Details</label>
            <input type="text" class="form-control" id="detailsInput">
        </div>
        <div class="form-group">
            <label for="inventorInput">Inventor</label>
            <input type="text" class="form-control" id="inventorInput">
        </div>
        <button id="spellAddBtn" type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="/spells">Cancel</a>
    </form>
</div>
<%- include('footer') -%>